body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background-image: url('https://devf-website.s3.amazonaws.com/static/assets/img/fondos/desarrollo.jpg');
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 220px);
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

button {
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 16px;
  transition: all .15s linear;
  background-color: #000000;
  border-color: #000000;
  color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  padding: 0;
  width: 100px;
  height: 46px;
  margin: 5px;
}

nav,
footer {
  background: #5136AD;
  height: 110px !important;
  overflow: hidden;
  width: 100%;
  display: flex;
  scroll-behavior: smooth;
  align-items: center;
}

.navContainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

#footerMainContainer {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
}

#logoDevF,
#logoUADY {
  border-style: none;
  width: 185px;
}

#logoDevF {
  align-self: right;
  justify-self: right;
}

footer {
  color: white;
}

select {
  font-size: Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #1c1e21;
  border: 1px solid #ccd0d5;
  overflow: visible !important;
  width: 55px;
  cursor: pointer;
}

.studentSection {
  background-color: #ffffff;
  max-width: 90%;
  margin: auto;
  width: 1100px;
  height: 700px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1.2fr 2fr;
  justify-items: center;
  align-items: center;
}

.containerLeft {
  margin: 0px;
  width: 90%;
  height: 90%;
  background-color: #5136AD;
  border-radius: 15px;
  color: #ffffff;
}

.containerRight {
  margin: auto;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.studentListContainer {
  background-color: #5136AD;
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.studentList {
  margin-top: 15px;
  background-color: #fff;
  width: 90%;
  height: 80%;
  overflow-y: auto;
}

.studentContainer {
  margin: auto;
  padding: 5px;
  background-color: #ffffff;
  height: 35px;
  border-bottom: 1px solid #5136AD;
  text-align: center;
  color: #000000;
  cursor: pointer;
}
